@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@500&family=Titillium+Web&display=swap');
nav{
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    top: -7.8px;
    left: -8px;
    width: 100.9%;
}
.nav-links>ul{
    display: flex;
    align-items: baseline;
    position: relative;
    top: 12px;
    right: 90px;
    list-style-type: none;
    justify-content: space-evenly;
}
.nav-links>ul>li{
    padding-top: 18px;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    right: 2px;
    transition: all 0.25s ;
    color: rgb(128, 126, 126);
    cursor:none;
}
.nav-links>ul>li:hover{
    color: #1f7f95;
    cursor:pointer;
}
#team-img{
    width: 100.99%;
    height: 37em;
    margin-top: -9px;
    margin-left: -7.6px;
    background: rgb(15,15,15);
    background: linear-gradient(129deg, rgba(15,15,15,0.9893091025472689) 49%, rgba(236,236,236,0) 95%),
            url("https://images.unsplash.com/photo-1627634777217-c864268db30c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); 
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    border-top: 2px solid white;
}
#team-img>h1{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3em;
    padding-top: 10px;
    padding-left: 1em;
}
#team-img>p{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: x-large;
    padding-left: 2em;
}
.button{
    height: 50px;
    width: 150px;
    background-color: rgb(7, 7, 7);
    color: rgb(199, 199, 199);
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    margin-top: 6.98rem;
    margin-left: 3rem;
    text-align: center;
    padding-top: 18px;
    border-radius: 10px;
    transition: all 0.5s;
}
.button:hover{
    border-radius: none;
    background-color: aliceblue;
    color: black;
    transform: scale(1.1);
    margin-left: 4em;
    box-shadow: 1px 1px 7px #f6f6f6,-1px -1px 7px #f6f6f6;  
    cursor: pointer; 
}
.features{
    border: 2px solid #f6f6f6;
    width: 100.7%;
    margin-left: -7px;
    background-color: #f6f6f6;
}
.features>h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #5e5d5d;
    padding-top: 1.5em;
    font-size: xxx-large;
}
.features>p{
    font-size:medium;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #5e5d5d;
    margin: 0px 15em;
}
.features>.container-features{  
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4em;
    margin: 6rem 30px;
}
.features>.container-features>.item-card{
    height: 12em;
    border-radius: 15px;
    box-shadow: 0.8px 0.8px 10px ;
    transition: all ease-out 0.2s;
}
.features>.container-features>div>img{
    height: 150px;
    width: 250px;
    position: relative;
    top: 15px;
    left: 15px;
    border-radius: 13px;
    box-shadow: 3px 3px 8px black;
}
.feature-text{
    display: inline-block;
    margin-top: -9.2em;
    margin-left: 276px;
    height:11.7em ;
    color: #161515;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1.2px 1.2px 3px rgba(22,21,21,0.7);
    display: flex;
    flex-direction: column;
}
.feature-text #f1{
    text-align: center;
    position: relative;
    left: -20px;
    margin-left: 30px;
}
.feature-text #f3{
    text-align: center;
    margin-top: 8px;
}
.item-card:hover{
    transform: scale(1.03);
}
#subscribe{
    border: 1px solid #0a0a0ac8;
    background-color: rgba(4, 4, 4, 0.939);
    width: 100.67%;
    margin-left: -7px;
    height: 4.6em;
    font-family: 'Titillium Web', sans-serif;
}
#subscribe>h3{
    display: inline-block;
    color: aliceblue;
    padding-left: 40px;
    margin-top: 18px;
    font-size: 26px;
}
#subscribe>form{
    display: inline-block;
    padding-left: 66%;
    height: 40px;
}
#subscribe>form>#subsEmail{
    margin-left: -20em;
    width: 20em;
    height: 24px;
    padding: 2px 10px;
}
#subscribe form #subsEmail:focus{
    outline: none;
}
#subscribe form #submitEm{
    border: 1px solid #f6f6f6;
    margin-left: 0px;
    padding: 7px 25px;
    background-color: #161515;
    color:#f6f6f6;
    font: 'Oper Sans',sans-serif;
    transition: all ease-out 0.4s;
}
#subscribe form #submitEm:hover{
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    color: #161515;
    cursor: pointer;
    box-shadow: 1px 1px 5px #f6f6f6,-1px 1px 5px #f6f6f6;
    /* font-family: 'Oper Sans',sans-serif; */
}

.img-work{
    width: 100.8%;
    display: flex;
    height: 24em;
    margin-left: -7px;
}
.img-work>#img1{
    background-image: url("https://images.unsplash.com/photo-1556761175-b413da4baf72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dGVjaCUyMHRlYW18ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"); 
    width: calc(100%/3);
}
.img-work>#img2{
    background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRlY2glMjB0ZWFtfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"); 
    width: calc(100%/3);
}
.img-work>#img3{
    background-image: url("https://images.unsplash.com/photo-1576267423445-b2e0074d68a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGFwcHklMjBjdXN0b21lcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
    width: calc(100%/3);
}
#img-text-1,#img-text-3{
    background-color: rgba(32, 32, 32, 0.8);
    height: 24em;
    text-align: center;
}
#img-text-2{
    background-color: rgba(0, 0, 0, 0.8);
    height: 24em;
    text-align: center;
}
#img-text-1, #img-text-2, #img-text-3{
    color: white;
    font-weight: bold;
    margin-top: -22px;
    font-family: 'Open Sans', sans-serif;
}
#img-text-1>h1, #img-text-2>h1, #img-text-3>h1{
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
.lMore{
    height: 50px;
    width: 150px;
    background-color: rgba(7, 7, 7, 0.871);
    color: rgb(199, 199, 199);
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    margin-top: 6.98rem;
    margin-left: 3rem;
    text-align: center;
    padding-top: 18px;
    border-radius: 10px;
    transition: all 0.5s;
}
.lMore:hover{
    border-radius: none;
    background-color: aliceblue;
    color: black;
    box-shadow: 1px 1px 7px #f6f6f6,-1px -1px 7px #f6f6f6;  
    cursor: pointer;
}

footer{
    width: 100.6%;
    margin-left: -7px;
    color: aliceblue;
    background-color: #0f0f0f;
    /* height: 30px; */
    border: 2px dashed #0f0f0f;
    display: grid;
    grid-template-columns: auto auto auto;
    font-family: 'Tillium Web',sans-serif;
    
}